<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<main class="vh-100"><%- body %></main>
		<%- include('../partials/footer') %>
	</body>
</html>
